@model Location2.Models.Settlement

@{
    ViewData["Title"] = "Create";
}

<h1>חדש</h1>

<h4>ישוב</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label">שם</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="אישור" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
